<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>404D609026234E8700E29B8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>405F8AEF260F2EA500B7206E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>405F8B05260F2EA700B7206E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
